.national-holiday {
  background-color: #3fde70;
}

.regional-holiday {
  background-color: #6967cf;
}

.local-holiday {
  background-color: #d8279c;
}

.centre-holiday {
  background-color: #c8dc57;
}

.centre-holiday,
.national-holiday,
.regional-holiday,
.local-holiday {
  border-radius: 50%;
}

.calendar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.calendar {
  width: 22.5vw;
}

.calendar-header {
  margin-bottom: .25rem;
}

.calendar-header,
.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  justify-content: space-between;
  column-gap: 1.5rem;
  row-gap: .5rem;
}
