<div class="d-flex gap-5 fs-2">
  <div class="holiday"
       *ngFor="let holidayType of typesOfHolidays"
       [innerText]="'Festiu ' + holidayType.name"
       [style]="{color: holidayType.color}">
  </div>
</div>

<div class="calendar-container">
  <div class="calendar"
       *ngFor="let month of monthsToShow">
    <div class="calendar-title" [innerText]="monthToText(month)"></div>
    <div class="calendar-header">
      <div class="calendar-week-days"
           *ngFor="let weekDay of weekDays"
           [innerText]="weekDay">
      </div>
      <div class="calendar-body"
      *ngFor="let day of daysInYearMonth(currentYear, month)"
      [innerText]="day"></div>
    </div>
  </div>
</div>
